@charset "UTF-8";
/* CSS Document */

 @font-face { 
	 font-family: ScatterInk; src: url('ScatterInk.ttf'); 
} 

#style-container {
	display: flex;
	margin: 50px;
	/*width: 100vw;*/
	flex-wrap: wrap;
	justify-content: center;
}

.img-container {
    width: 200px;
    height: 260px;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #f7f7f7;
}

.overlay {
    width: 200px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
	cursor: pointer;
}

.o-name {
    width: 200px;
    height: 260px;
	opacity: 1;
	z-index: 3;
	color: white;
	position: absolute;
	font-size: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
	font-family: ScatterInk;
	text-shadow: 2px 2px #b3b1b5;
	line-height: 1em;
	transform: rotate(-15deg);
}

.o-col {
    width: 200px;
    height: 260px;
	background-color: black;
	position: relative;
	z-index: 2;
	opacity: 0.15;
}

.product {
    width: 200px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
	z-index: 1;
}

.img-style {
    width: 200px;
    height: 260px;
    object-fit: contain;
}

.img-style:hover {
	cursor: pointer
}

.close-div {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.style-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal-contain {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-img-contain {
	background-color: #f7f7f7;
	width: 400px;
	height: 520px;
	padding: 20px 20px;
}

.img-modal {
	width: 400px;
	height: 520px;
	object-fit: contain;
}

.modal-match {
    background-color: #f7f7f7;
	width: 200px;
	height: 200px;
	padding: 20px 0px 5px 0px;
}

.match-item {
	width: 200px;
	height: 200px;
	object-fit: contain;
}

.modal-contents {
	display: flex;
	background-color: #f7f7f7;
    overflow-y: auto;
    align-items: flex-start;
    max-width: 95vw;
}

.modal-description {
	background-color: #f7f7f7;
	padding: 20px 40px;
	height: 520px;
	width: 400px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.style-desc {
	letter-spacing: 0.15em;
	font-weight: 200;
	font-size: 12pt;
}

.style-code {
	letter-spacing: 0.15em;
	font-weight: 700;
	font-size: 7pt;
	text-transform: uppercase;
}

.pdf-contain {
	background-color: #f7f7f7;
	width: 400px;
	height: 520px;
	padding: 20px 20px;
}

@media only screen and (max-width: 900px) {
	
	#style-container {
		margin: 20px;
	}
	
	.img-container {
        width: 150px;
        height: 210px;
        margin: 10px 5px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
    }
	
	.overlay, .o-col, .o-name, .product {
        width: 150px;
        height: 210px;
	}

    .img-style {
        width: 150px;
        height: 210px;
        object-fit: contain;
    }
	
	.modal-contents {
		flex-direction: column;
		align-items: center;
        max-height: 85vh;
        width: auto;
	}
	
    .close-div {
        margin-top: 10px;
    }
    
	.modal-img-contain {
        margin-top: 30px;
        background-color: #f7f7f7;
        width: 300px;
        height: 350px;
        padding: 0px 20px;
    }

    .img-modal {
        width: 300px;
        height: 350px;
        object-fit: contain;
    }
    
	.modal-description {
		height: auto;
		width: 260px;
		padding: 0px 40px 20px 40px;
		margin-top: 0px;
		word-wrap: break-word;
	}
	
	.pdf-contain {
        margin-top: 30px;
        background-color: #f7f7f7;
        width: 300px;
        height: 350px;
        padding: 20px 8px;
    }
}