@charset "UTF-8";
/* CSS Document */


.placeholder {
	width: 100vw;
}

.place-image {
	width: 100vw;
	object-fit: contain;
}

.m-placeholder {
	display: none;
}


/*
#home-contain {
	display: flex;
	justify-content: center;
	align-items: center;
}

.index-content {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

#lookbook-text {
	color: white;
	text-align: center;
	text-shadow: 1px 1px 10px #000;
	margin: 0px 20px;
}

.dept-cta {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cta, .cta1, .cta2, .cta3 {
	background-color: #fff;
	font-size: 8pt;
	letter-spacing: 0.1em;
	font-weight: 900;
    text-decoration: none;
	color: black;
	margin: 0px 8px;
}

.cta {
	padding: 10px 40px;
}

.cta1 {
	padding: 10px 74px;
}

.cta2 {
	padding: 10px 77px;
}

.cta3 {
	padding: 10px 44px;
}

#hp-df1, #hp-df3 {
	font-size: 12pt;
	letter-spacing: 0.3em;
}

#hp-df2 {
	font-size: 20pt;
	letter-spacing: 0.3em;
}

#home-image {
	width: 100vw;
}

#shoot1 {
	width: 100vw;
}
*/
@media only screen and (max-width: 920px) {

 	
	.m-placeholder {
		display: flex;
	}
	
	.placeholder {
		display: none;
	}
	
	.place-image {
		display: none;
	}
	
    .m-place-image {
        width: 100vw;
    }
	
	/*
	#hp-df1, #hp-df3 {
        font-size: 12pt;
        letter-spacing: 0.3em;
    }

    #hp-df2 {
        font-size: 20pt;
        letter-spacing: 0.3em;
    }
	
	.dept-cta {
		flex-direction: column;
	}
	
	.cta-div {
		margin: 20px 0px;
	}

    #home-image {
        height: 100vh;
    }

    #shoot1 {
        height: 100vh;
		object-fit: cover;
    }
	

	/*
	#style-container {
		margin: 20px;
	}
	.img-container {
        width: 150px;
        height: 210px;
        margin: 10px 5px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
    }

    .img-style {
        width: 150px;
        height: 210px;
        object-fit: contain;
    }*/
} 

/*
@media only screen and (max-width: 700px) {
	
	#shoot1 {
		object-position: -500px;
    }
}

@media only screen and (max-width: 600px) {
	
	#shoot1 {
		object-position: -600px;
    }
}

@media only screen and (max-width: 500px) {
	
	#shoot1 {
		object-position: -700px;
    }
}
*/